{% load widget_tweaks %}
{% load catalogue_widget %}


<li id="{{ id }}"  class="catalog-list-item {{ scope }} {{ catalogue_class }}">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#"> {{ name }}<span
                    class="catalog-count">({{ number_of_questions }})</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
