
{% load widget_tweaks %}
{% load interviews_filters %}

<div class="form-group ">

{#    <label for="{{ field.id_for_label }}"> {{ field.label }} : </label>#}
    <label for="file"> file : </label>
    <input id="345" name="file"  type="file">

{#    <div class="fileinput input-group" data-provides="fileinput">#}
{#        <span class="input-group-addon btn btn-default btn-file">#}
{#            <span class="fileinput-new"> Select </span>#}
{#            <span class="fileinput-exists">Change</span>#}
{#            <input type="hidden" value="" name="{{ field.name }}">#}
{#            <input id="{{ field.id_for_label }}"#}
{#                   name="{{ field.name }}"#}
{#                   {{ field.value|is_required }}#}
{#                   type="file">#}
{#        </span>#}
{##}
{#        <div class="form-control">#}
{#            <i class="glyphicon glyphicon-file fileinput-exists"></i>#}
{#            <span class="fileinput-filename">#}
{#            {% if field.value  %}#}
{#               {{field.value|file_name}}#}
{#            {% endif %}#}
{#            </span>#}
{#        </div>#}
{##}
{#    </div>#}

{#    <div class="error-form">#}
{#        {{ field.errors }}#}
{#     </div>#}

</div>
