{% load widget_tweaks %}
{% load interviews_filters %}

<div class="form-group interview-datetime {% if field.errors %}has-error{% endif %}">
    <div class="row">

        <button class="calendar btn btn-default">Pick a date </button>

        <input class="interview-start"
               name="interview_datetime"
               required="true" type="text"
               {%  if field.value  %}
                   value="{{field.value|to_user_time:user|to_seevcam_format}}"
               {%  endif %}
               >

        <input class="hidden interview-end"
               name="interview_datetime_end"
               type="text"
               {%  if end.value  %}
                   value="{{end.value|to_user_time:user|to_seevcam_format}}"
               {%  endif %}
               required="true"
               >

        <div id="calendar-modal" class="modal slide">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                    <div id="calendar"></div>
              </div>
              <div class="center-block modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-changes">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="error-form">
            {{ field.errors }}
        </div>
    </div>

</div>