{% load interviews_filters %}

<div class="col-lg-12">
    <div class="interview-item {{ date_string }}">
        <!-- <span class="glyphicon glyphicon-remove"></span> -->
        <div class="interview-date"><span class="date-string">{{ date_string }}</span> <span class="date-month">{{ month }}</span> <span class="date-separator">{{ date_separator }}</span> <span class="date-day">{{ day }}</span> <span class="date-separator">{{ date_separator }}</span> <span class="date-year">{{ year }}</span></div>
        <div class="interview-time">{{ time }}</div>
        <h4>{{ name }} {{ surname }}</h4>
        <p>{{ job_position}} </p>
        <div class="action-icons">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
    </div>
</div>
