{%  load serializers %}
<script type="application/javascript">
    // TO BE REMOVED
    var startDate = new Date();
    startDate.setSeconds(startDate.getSeconds() - 30);
    var endDate = new Date();
    endDate.setSeconds(endDate.getSeconds() + 30);
    window.cache = {
        interview : {{ interview| interview_to_json }},
        questions : {{ catalogue| catalogue_to_json }},
        jobPosition: {{ job_position| job_position_to_json }},
        overallRatings: [ {id: 1, question: "Are you sure?", rating: 0}, {id: 2, question: "Really", rating: 1}, {id: 3, question: "test?", rating: 2}, {id: 4, question: "asdf?", rating: 3}, {id: 5, question: "qwer?", rating: 4} ]
    }
</script>

<body class="main-content container-fluid"> </body>
