{% block catalogue  %}
<div id="catalogue-container" class="panel panel-default margin-10">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if scope == 'SEEVCAM' %}SeeVcam{% else %}{{ user.username }}{% endif %}'s catalogues
        </h3>
    </div>
    <div class="panel-body height-500 scroll">
        <div id="catalogue-list">
            <lu  class="list-group">
          {% for catalogue in questioncatalogue_list %}
              <li class="list-group-item {% if selected_catalogue.id == catalogue.id %} active {% endif %}">

              <a class="catalogue"
                 href="{% url "questions_list" catalogue.pk %}?scope={{catalogue.catalogue_scope | lower }}">
                 {{ catalogue.catalogue_name }}
              </a>
                 {% if scope != 'SEEVCAM' %}
                    <a class="delete pull-right"
                        href="{% url "questions_delete" catalogue.pk %}">
                        <i class="glyphicon glyphicon-trash"></i>
                  </a>
                {% endif %}
              </li>
              {% empty %}
              <li class="list-group-item" > No catalogues </li>
          {% endfor %}
            </lu>
        </div>
    </div>
    {% if scope != 'SEEVCAM' %}
    <div class="add-new-category-container panel-footer">
        <div class="input-group">
            <input id="new-category" type="text" class="form-control" placeholder="New catalogue">
            <span class="input-group-btn">
                <button id="add-category" class="btn btn-default" type="button">Add</button>
            </span>
        </div><!-- /input-group -->
    </div>
    {% endif %}
</div>
{% endblock catalogue %}

