{% block catalogue  %}
<div id="catalogue-container" class="panel panel-default margin-10">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if scope == 'SEEVCAM' %}SeeVcam{% else %}{{ user.username }}{% endif %}'s catalogues
        </h3>
    </div>
    <div class="panel-body">
        <div id="catalogue-list" class="list-group">
          {% for catalogue in questioncatalogue_list %}
              <li class="list-group-item">
              <a class="catalogue"
                 href="{% url "questions_list" catalogue.pk %}">
                 {{ catalogue.catalogue_name }}
              </a>
              <a class="delete pull-right"
                 href="{% url "questions_delete" catalogue.pk %}">
                 <i class="glyphicon glyphicon-trash"></i>
              </a>
              </li>
          {% endfor %}
        </div>
        <div class="add-new-category-container">
            <input id="new-category" type="text" value="add catalogue"/>
            <button id="add-category">Add</button>
        </div>
    </div>
</div>
{% endblock catalogue %}

