{%  if request.is_ajax  %}
    <title> Questions </title>
{% endif %}

{% block content %}
<div id="questions">
    <ul class="nav nav-tabs" role="tablist">
        <li {% if scope == 'PRIVATE' %} class="active" {% endif %} >
            <a class="tabs" href="{%  url 'catalogues' %}?scope=private"> My catalogues</a>
        </li>
        <li {% if scope == 'SEEVCAM' %} class="active" {% endif %} >
            <a class="tabs" href="{% url 'catalogues' %}?scope=seevcam">Seevcam catalogues</a>
        </li>
    </ul>

    <div class="row">
        <div id="catalogue" class="col-md-3 pull-left ">
             {% include "questions-catalogue-pjax.html" %}
        </div>
        <div class="col-md-9 pull-right">
                 <div id="list">
                     {% include "questions-list-pjax.html" %}
                 </div>
            </div>

    </div>
</div>
{% endblock content %}
