{% extends "dashboard.html"|pjax:request %}

{% block title %}
    Questions
{% endblock title %}

{%  block content %}

      {%  load catalogue_widget %}

<div clalss="row">
<div class="col-lg-6">
<div class="create-interview-catalog-section">

<!--
<div class="row">
    <div class="panel">
        <div class="panel-heading clearfix">
            <div class="btn-group pull-left">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </div>
            <h4>My Interview</h4>
        </div>
        <div class="questions-list">
            <ul class="scroll-pane">
                <li>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                </li>
            </ul>
        </div>

    </div>
</div>

-->
<div class="row">
    <div class="panel">
        <div class="catalogs-picker">
            <div class="catalog-labels">
                <ul>
                    <li class="label-red">seeVcam</li>
                    <li class="label-blue">Library</li>
                </ul>
            </div>
            <div class="catalogs-list">
                <ul class="scroll-pane">

                    {% for catalogue in object_list  %}
                        {% catalogue_single_component catalogue %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

{% endblock %}