<div class="col-lg-6">
<div class="create-interview-catalog-section">
<div class="row">
    <div class="panel">
        <div class="panel-heading clearfix">
            <div class="btn-group pull-left">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </div>
            <h4>My Interview</h4>
        </div>
        <div class="questions-list">
            <ul class="scroll-pane">
                <li>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="row">
<div class="panel">
<div class="catalogs-picker">
<div class="catalog-labels">
    <ul>
        <li class="label-red">seeVcam</li>
        <li class="label-blue">Library</li>
    </ul>
</div>

<div class="catalogs-list">
<ul class="scroll-pane">
<li class="catalog-list-item catalog-red">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Common HR<span
                    class="catalog-count">(17)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-red">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">French Worker<span
                    class="catalog-count">(12)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Human Qualities<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue selected">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Channel Manager<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
    <ul class="catalog-questions-list">
        <li>
            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
        </li>
    </ul>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Marketing<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Business Development<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Human Qualities<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Channel Manager<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Marketing<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<li class="catalog-list-item catalog-blue">
    <div class="container-fluid">
        <div class="row">
            <a class="catalog-item-name" href="#">Business Development<span
                    class="catalog-count">(14)</span></a>

            <div class="btn-group catalog-item-menu pull-right">
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                </a>
                <a href="#" class="btn btn-panel btn-sm">
                    <i class="glyphicon glyphicon glyphicon-lock"></i>
                </a>
            </div>
        </div>
    </div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

</div>
