{% extends "dashboard.html"|pjax:request %}
{% block content %}

    <ul class="nav nav-tabs" role="tablist">
        <li {% if scope == 'PRIVATE' %} class="active" {% endif %} >
            <a class="pjax" href="{%  url 'questions' %}?scope=private">Private</a>
        </li>
        <li {% if scope == 'SEEVCAM' %} class="active" {% endif %} >
            <a class="pjax" href="{% url 'questions' %}?scope=seevcam">Seevcam</a>
        </li>
    </ul>

    <div class="row">
        <div id="catalogue" class="col-md-3 pull-left ">
                <div id="catalogue_container" class="list-group margin-10">
                    {% for catalogue in questioncatalogue_list %}
                        <a class="list-group-item pjax-inner"
                           href="{% url "questions_list" catalogue.pk %}">{{ catalogue.catalogue_name }}</a>
                    {% endfor %}
                    <a class="list-group-item " href="#">Add catalogue + </a>
                </div>
        </div>
        <div class="col-md-9 pull-right">
            <div id="inner-container" class="margin-10">
                {% block inner_content %} Select a catalogue  {% endblock inner_content %}
            </div>
        </div>
    </div>
{% endblock content %}
