{% extends "dashboard.html"|pjax:request %}

{% block title %}
    Questions
{% endblock title %}

{% block content %}

    {% load catalogue_widget %}
    {% load static %}

    <div clalss="row" style="height:100%;" >
        <div class="col-lg-6" style="height:100%;" >
            <div id="edit-catalogue" style="height: 80%">
               <div class="no-catalogue dashed-border" style="height: 100%"></div>
            </div>
            <hr/>
            <div id="create-catalogue-block">
                <div id="create-catalogue" class="form-group has-feedback create-catalogue">
                    <input type="text" class="form-control" placeholder="Need a new category? Type its name here."/>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="panel">
                    <div class="catalogs-picker">
                        <div class="catalog-labels">
                            <ul>
                                <li class="label-red">seeVcam</li>
                                <li class="label-blue">Library</li>
                            </ul>
                        </div>
                        <div class="catalogs-list">
                            <ul class="scroll-pane">
                                {% for catalogue in object_list %}
                                    {% catalogue_single_component catalogue %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </div>

    <script id="questionTemplate" type="text/template">
        <div class="view form-group">
            <p><%- question_text %></p>
            <a class="delete"> <span class="glyphicon glyphicon-trash"></span> </a>
        </div>
        <input class="edit form-control" type="text" value="<%- question_text %>" />
    </script>


    <script id="editCatalogueTemplate" type="text/template">
        <div class="create-interview-catalog-section" style="height:100%;">
            <div class="row" style="height:100%;margin-right:0;">
                <div class="panel" style="height:100%;position: relative;">
                    <div class="panel-heading clearfix">
                        <span class="inline-block" style="width:90%">
                            <input class="input-panel-heading" style="width:100%" type="text" value="<%- catalogue_name %>">
                        </span>
                        <span class="margin-b2-t2 inline-block pull-right">
                           <span class="hidden delete-panel-heading icon glyphicon glyphicon-trash"></span>
                           <span class="hidden close-panel-heading icon glyphicon glyphicon-remove"></span>
                        </span>
                    </div>
                    <div id="question-container" class="">
                        <ul class="scroll-pane"></ul>
                    </div>
                    <div id="enter-new-question" class="">
                        <input id="question-text" class="form-control" type="text" placeholder="Enter a new question"/>
                    </div>
                </div>
            </div>
        </div>
    </script>

{% endblock %}