{%  if request.is_ajax  %}
    <title> Questions </title>
{% endif %}

{% block content %}

    <div id="questions">
    <ul class="nav nav-tabs" role="tablist">
        <li {% if scope == 'PRIVATE' %} class="active" {% endif %} >
            <a class="pjax" href="{%  url 'questions' %}?scope=private">Private</a>
        </li>
        <li {% if scope == 'SEEVCAM' %} class="active" {% endif %} >
            <a class="pjax" href="{% url 'questions' %}?scope=seevcam">Seevcam</a>
        </li>
    </ul>

    <div class="row">
        <div id="catalogue" class="col-md-3 pull-left ">
             {% include "questions-catalogue-pjax.html" %}
        </div>
{#        <div class="col-md-9 pull-right">#}
{#            <div id="inner-container" class="margin-10">#}
{#                {% block inner_content %} Select a catalogue  {% endblock inner_content %}#}
{#            </div>#}
{#        </div>#}
    </div>
    </div>

{% endblock content %}
