# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
.*
# secrets.json
secrets.json
atlassian-ide-plugin.xml
log/
media/
static/node_modules/*
static/bower_components/*
*/*/node_modules/*
./media
*/*/atlassian-ide-plugin.xml