# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
.*
# secrets.json
secrets.json
atlassian-ide-plugin.xml
seeVcam/log/
seeVcam/media/
migration/
seeVcam/static/node_modules/*
seeVcam/static/bower_components/*
*/node_modules/*
seeVcam/media
*/*/atlassian-ide-plugin.xml