# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
.*
# secrets.json
secrets.json
atlassian-ide-plugin.xml
.idea

seeVcam/log/
seeVcam/media
seeVcam/static/node_modules/*
seeVcam/static/bower_components/*
node_modules/*
node_modules/

# public folder for collectstatic
public/js/*.js
public/js/*.map
public/css/*.css
public/css/*.map

migration/

bower_components
src/css/*
