{#{% extends "dashboard.html"|pjax:request %}#}
{# removed pjax-inner from url class#}
{% extends "dashboard.html" %}
{% block content %}

  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <div class="list-group margin-10">
        <a href="{% url "profile_update" request.user.pk %}" class="list-group-item ">
          Profile
        </a>
        <a href="{% url "profile_settings" request.user.pk %}" class="list-group-item ">Account Settings</a>
        <a href="{% url "profile_settings" request.user.pk %}" class="list-group-item ">Notification Center</a>
      </div>
    </div>
    <div class="col-lg-8">
      <div id="inner-container" class="margin-10">
        {% block inner_content %} Please select tab {% endblock inner_content %}
      </div>
    </div>
  </div>

{% endblock content %}