{% block title %}
    {% include "profile-title.html" %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Profile
                    </h3>
                </div>
                <div class="list-group">
                    <a href="{% url "profile_update" request.user.pk %}" class="list-group-item profile active">Profile</a>
                    <a href="{% url "profile_settings" request.user.pk %}" class="list-group-item profile">Account
                        Settings</a>
                    <a href="{% url "profile_notifications" request.user.pk %}" class="list-group-item profile">Notification
                        Center</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="profile-content">
                {% include "profile-update.html" %}
            </div>
        </div>
    </div>
{% endblock content %}


