{% extends "dashboard.html"|pjax:request %}
{% block content %}

  <div class="row">
    <div class="col-lg-4">
      <div class="list-group">
        <a href="{% url "profile_update" request.user.pk %}" class="list-group-item pjax-inner">
          User Details
        </a>
        <a href="{% url "profile_settings" request.user.pk %}" class="list-group-item pjax-inner">Settings - {{request.user}}</a>
      </div>
    </div>
    <div class="col-lg-8">
      <div id="inner-container">
      {% block inner_content %} Please select tab {% endblock inner_content %}
      </div>
    </div>
  </div>

{% endblock content %}