{% block profile_content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Applications </h3>
    </div>
    <div class="panel-body integration-body">
        <h5>No available yet.</h5>
        <p>Seevcam provides a easy way to be integrated in your favourite calendar app.</p>
        <p>This will allow you to see your events within the SeeVcam's calendar as well as to see
            SeeVcam's interviews in your calendar.</p>
    </div>
  </div>
{% endblock profile_content %}