  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <div class="list-group margin-10">
        <a href="{% url "profile_update" request.user.pk %}" class="list-group-item ">Profile</a>
        <a href="{% url "profile_notifications" request.user.pk %}" class="list-group-item ">Account Settings</a>
        <a href="{% url "profile_settings" request.user.pk %}" class="list-group-item ">Notification Center</a>
      </div>
    </div>
    <div class="col-lg-8">
      <div id="inner-container" class="margin-10">
          " hello "
      </div>
    </div>
  </div>
