/* Colors */

@white:#fff;
@black: #000;
@orange : #D14232;
@light-orange : #FF9861;
@light-grey: #f1f1f1;
@gray : #666;
@nav-bar-grey : #cccccc;
@blue : #0071bb;
@background-grey : #eeeeee;
@silver: #bdc3c7;
@a:#dddddd;
@date-gray:#9b9b9b;
@report-color : #400065;
@green: #009145;
@light-blue :#007FC8;
/* Seevcam properties */
@nav-height: 40px;