/** Create Interview Section */

.create-interview-catalog-section {
    height: 100%;
    margin-left: 20px;
}

.create-interview-catalog-section .panel {
    background-color: white;
    /*border: 1px solid #d0d0d0;*/
    box-shadow: none;
    border-radius: 0;
    padding: 0;
border: none;
}

.create-interview-catalog-section .panel-heading {
    background-color: #5c94ce;
    color: white;
    border-radius: 0;
    margin: 0;
    padding-left: 12px;
    font-size: 16px;
    line-height: 25px;
}


.create-interview-catalog-section .panel-heading  .input-panel-heading {
    width: 100%;
    border: 0;
    background-color: #5c94ce;
    color: white;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.margin-b2-t2 {
    margin-top: 2px;
    maring-bottom:2px;
}

.btn-panel {
    color: white;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 0 10px;
}


[type=file] + .errorlist {
    font-size: 13px;
    left: 0;
    position: absolute;
    top: 36px;
}

.has-error .fileinput {
    margin-bottom: 0px;
}

.fileinput .input-group-addon {
    position: static;
}

.wrap {
    background: url(../img/background_textureGray.gif) #ececec;
    clear: both;
    overflow: hidden;
}

.errorlist {
    padding: 0;
    color: #a94442;;
}

.errorlist li {
    list-style-type: none;
}


.twitter-typeahead {
    width: 100%;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.tt-suggestion {
    line-height: 24px;
    padding: 3px 5px;
    cursor: pointer;
}

.tt-suggestion:hover {
    background-color: #dedede;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
    padding: 0;
}

.suggestion span {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 20px;
    margin: 0;
    top: 3px;
}
.empty-message p {
    position: relative;
    padding-left: 10px;
    height: 20px;
    top: 5px;
}

.suggestion span.seevcam {
    background-color: red;
}

.suggestion span.private {
    background-color:  #0f73c2;
}

.suggestion p {
    position: relative;
    display : inline-block;
    padding-left: 5px;
    height: 20px;
    top:-1px;
}

.full-width {
    width: 100%;
}

.fileinput .input-group-addon.btn-file {
    border-radius: 4px 0 0 4px;
}

