/** Interviews List Section */
.interview-item {
    margin-bottom: 30px;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 0 0 5px 5px;
}

.interview-item,
.interview-item header {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.interview-item:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
}

.interview-item:hover header {
    background-color: #0F73C2;
}

.interview-item header {
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
}

.interview-item header h4 {
    margin: 0;
    padding: 2px 0;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.interview-item header p {
    margin: 0;
    font-size: 10px;
    color: #eaeaea;
}

.interview-time {
    text-align: center;
    padding: 15px 0;
}

.interview-date {
    font-size: 32px;
    line-height: 32px;
}

.interview-item footer {
    margin-top: 5px;
}

.interview-hours {
    background-color: #9a9a9a;
    color: white;
    display: inline-block;
    font-size: 14px !important;
    font-weight: bold;
    padding: 0 10px;
    margin: 0;
    line-height: 30px;
    text-shadow: 1px 1px 0 #6d6d6d;
}

.interview-candidate-avatar {
    max-width: 25px;
    display: block;
    margin: 5px 0;
}

.container{
	padding-left: 60px;
	padding-right: 60px;
}
.navbar{
	margin-bottom: 0px;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}


/*CURRENT DATETIME*/
#current-datetime-container{
	position: absolute;
	top: -71px;
	padding: 30px;
	padding-top: 0px;
	z-index: 3;;
}
#current-datetime{
	background-color: black;
	padding: 20px;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	box-shadow: 0px 1px 3px #e4e4e4;
}
#current-datetime .interview-date{
	padding-bottom: 5px;
	border-bottom: 1px solid #404040;;

}
#current-datetime .interview-date > span{
	font-size: 30px;
}
#current-datetime .interview-date > span.date-separator{
	color: #404040;
}
#current-datetime .interview-time{
	padding-top: 0px;
	text-align: right;
	padding-bottom: 0px;
}
#current-datetime .interview-time >span {
	font-size: 30px;
}
#current-datetime .interview-time >div#am-pm {
	display: inline-block;
}
#current-datetime .interview-time >div#am-pm > span {
	display: block;
	font-size: 11px;
	line-height: 12px;
	color: #262626;
}
#current-datetime .interview-time >div#am-pm > span.active {
	color: white;
}
#current-datetime .interview-time > span.date-separator{
	color: white;

}



/*INTERVIEW PAGE*/
#interview{
	position: relative;
	padding-top: 30px;
}
#interview #interviews-upper-bar{
	margin-bottom: 60px;
}
#interview #interviews-upper-bar form input{
	height: 41px;
	margin: 0px;
	border-radius: 1px;
	border-color: #dedede;
	font-size: 19px;
}
#interview #interviews-upper-bar form span{
	position: absolute;
	height: 41px;
	width: 41px;
	line-height: 36px;
	background-color: transparent;
	border: none;
	right: 22px;
	color: #cacaca;
}
#interview #interviews-upper-bar form span i.glyphicon-search{
	font-size: 20px;
}
#interviews-upper-bar #interview-view-type{
	padding-left: 34px;
	
}
#interviews-upper-bar #interview-view-type > a.glyphicon{
	height: 41px;
	width: 41px;
	font-size: 24px;
	background-color: #d6d6d6;
	text-align: center;
	/* vertical-align: middle; */
	line-height: 40px;
	color: #b3b3b3;
	margin-right: 10px;
}
#interviews-upper-bar #interview-view-type > a.glyphicon:hover{
	text-decoration: none;
}
#interviews-upper-bar #interview-view-type > a.glyphicon.active{
	background-color: #333;
	color: white;
}
#searchbox-container{
	padding-left: 69px;
}
#interviews-view-container{
	padding-left: 40px;
}


/*INTERVIEW ITEM*/
.interview-item footer{
	display: none;
}
.interview-item{
	background-color: white;
	border-top: 7px solid black;
	border-radius: 0px;
	box-shadow: 0px 0px 3px #e4e4e4;
}
.interview-item .glyphicon-remove{
	position: absolute;
	right: 26px;
	top: 7px;
	color: white;
	display: none;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 19px;
	z-index: 10;
}
.interview-item:hover .glyphicon-remove{
	display: block;
}
.interview-item header{
	background-color: transparent;
	color: black;
	text-align: center;
}
.interview-item section.interview-time{
	background-color: transparent;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #dbdbdb;
	padding: 0px;
	margin-top: 15px;
	position: relative;
	padding-top: 5px;
}
.interview-item header h4{
	font-size: 22px;
	text-shadow: none;
	padding-bottom: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.interview-item header p{
	color: #9b9b9b;
	font-size: 15px;
}
.interview-item section.interview-time > p{
	display: inline-block;
	font-size: 15px;
	color: #9b9b9b;
	margin-bottom: 0px;
	text-align: left;
}
.interview-item section.interview-time > p.interview-hours{
	background-color: transparent;
	text-shadow: none;
	font-weight: 300;
	font-size: 15px;
	padding: 0px;
	position: absolute;
	right: 0px;
	text-align: right;
	top: 5px;
}
.interview-item section.interview-time > p.interview-date{
	width: 100%;
	text-align: left;
}
.date-day{
	font-size: 14px;
	font-weight: bold;
}
.date-day, .date-month, .date-year{
	font-size: 14px;
}
.date-separator{
	color: #ccc;
}
.interview-item .name-container{
	height: 50px;
}
.interview-item .name-container .bottom-aligner{
	display: inline-block;
	vertical-align: bottom;
	width: 0px;
	height: 100%;
}

.interview-item:hover, #upcoming-interviews .interview-item{
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
	background-color: black;
}
.interview-item:hover header, #upcoming-interviews .interview-item header{
	background-color: transparent;
	color: white;
}
.interview-item:hover header p, #upcoming-interviews .interview-item header p{
	color: white;
}
.interview-item:hover section.interview-time > p, #upcoming-interviews .interview-item section.interview-time > p{
	color: #ddd;
}


/*TODAY INTERVIEW*/
.interview-item.today{
	border-top: 7px solid #009145;
}
#upcoming-interviews .interview-item.today{
	background-color: #009145;
	border-top: 0px;
	padding-top: 12px;
	/*padding-top: 37px;	*/
}
#upcoming-interviews .interview-item.today header h4{
	color: white;
}
#upcoming-interviews .interview-item.today header p{
	color: white;
}
#upcoming-interviews .interview-item.today section.interview-time > p{
	color: #a8d9c0;
}
#upcoming-interviews .interview-item.today section.interview-time{
	border-top: 1px solid #a8d9c0;}
.interview-item.today:hover{
	background-color: #009145;
}
.interview-item.today:hover header p{
	color: white;
}
.interview-item.today:hover section.interview-time > p{
	color: #ddd;
}



/*TOMORROW INTERVIEW*/
.interview-item.tomorrow{
	border-top: 7px solid #0071bb;
}
#upcoming-interviews .interview-item.tomorrow{
	background-color: #0071bb;
	border-top: 0px;
	padding-top: 12px;
	/*padding-top: 37px;	*/
}
#upcoming-interviews .interview-item.tomorrow header h4{
	color: white;
}
#upcoming-interviews .interview-item.tomorrow header p{
	color: white;
}
#upcoming-interviews .interview-item.tomorrow section.interview-time > p{
	color: #66aad6;
}
#upcoming-interviews .interview-item.tomorrow section.interview-time{
	border-top: 1px solid #66aad6;
}
.interview-item.tomorrow:hover{
	background-color: #0071bb;
}
.interview-item.tomorrow:hover header p{
	color: white;
}
.interview-item.tomorrow:hover section.interview-time > p{
	color: #ddd;
}



/*PENDING INTERVIEW*/
#pending-interview{
	position: absolute;
	top: 25px;
}
#pending-interview .interview-item{
	padding-top: 0px;
	border-top: none;
	padding-bottom: 0px;
	background-color: #ff4a00;
	box-shadow: 0px 1px 3px #e4e4e4;
}
#pending-interview .interview-item section.interview-time{
	margin-top: 0px;
	padding-top: 0px;
	border-top: 1px solid #ffad80;
}
#pending-interview .interview-item section.interview-time > p.interview-hours{
	top: 1px;

}
#pending-interview .interview-item header h4{
	color: white;
}
#pending-interview .interview-item header p{
	color: white;
}
#pending-interview .interview-item section.interview-time > p{
	color: white;
}
#pending-interview .interview-item .name-container{
	height: auto;

}



/*INTERVIEWS LIST ITEM*/
#interviews-list-view .interview-item{
	border-top: none;
	margin-bottom: 7px;
	padding: 0px;
	position: relative;

}
#interviews-list-view .interview-item > *{
	display: inline-block;
}
#interviews-list-view .interview-item > .interview-date{
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: black;
	color: #999;
	width: 130px;
	text-align: center;
	border: 1px solid #999;
}
#interviews-list-view .interview-item > .interview-time{
	font-size: 14px;
	padding: 0px;
	width: 80px;
	border-right: 1px solid #999;
}
#interviews-list-view .interview-item > h4{
	margin: 0px;
	padding-left: 10px;
	width: 250px;
	border-right: 1px solid #999;
}
#interviews-list-view .interview-item > p{
	margin: 0px;
	padding-left: 10px;
	color: #999;
}
#interviews-list-view .interview-item > .action-icons{
	position: absolute;
	right: 9px;
	top: 9px;
}
#interviews-list-view .interview-item > .action-icons > .glyphicon{
	margin-left: 3px;
	margin-right: 3px;
	color: #e0e0e0;
}
#interviews-list-view .interview-item > .action-icons > .glyphicon:hover{
	color: white;
}

#interviews-list-view .interview-item:hover > .interview-time{
	color: #999;
}
#interviews-list-view .interview-item:hover > h4{
	color: #eee;
}
#interviews-list-view .date-separator{
	color: #222;
}


/*TODAY ITEM*/
#interviews-list-view .interview-item.today > .interview-date{
	background-color: #009145;
	color: #a8d9c0;
}
#interviews-list-view .interview-item.today:hover > .interview-time{
	color: #a8d9c0;	
}
#interviews-list-view .interview-item.today:hover > p{
	color: #a8d9c0;		
}

/*TOMORROW ITEM*/
#interviews-list-view .interview-item.tomorrow > .interview-date{
	background-color: #0071bb;
	color: #80b8dd;
}
#interviews-list-view .interview-item.tomorrow:hover > .interview-time{
	color: #80b8dd;	
}
#interviews-list-view .interview-item.tomorrow:hover > p{
	color: #80b8dd;		
}


#report-side-bar{
	position: fixed;
	height: 100%;
	font-size: 16px;
	background-color: #d8d8d8;
	top: 0px;
	width: 65px;
	left: 0px;
	text-align: center;
	z-index: 1;
}
#report-side-bar > div{
	position: absolute;
	top: 40%;
	width: 100%;

}
#report-side-bar > div > span{
	font-size: 12px;
}
#report-side-bar > div > span.glyphicon{
	font-size: 16px;
	display: block;
}
#report-side-bar > div  a{
	text-decoration: none;
	color: inherit;
	display: block;
	
}
