body {
    font-size: 13px;
}

/** Adjusting Bootstrap classes */
.container {
    max-width: 1000px;
}

.panel-default > .panel-heading {
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: none;
}

.panel-heading h3 {
    font-weight: bold;
}

label {
    color: #666666;
}

[type=text],
[type=password],
[type=email],
select.form-control {
    background-color: #fafafa;
    border-radius: 3px;
}

.list-group-item {
    background-color: #fafafb;
    border-top: 1px solid white;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: auto;
}

a.list-group-item.active {
    border-bottom-color: #eeeeee;
    border-left: 2px solid #d26911 !important;
    background-image: none;
    background-color: #ffffff;
    color: black;
    text-shadow: none;
    font-weight: bold;
    cursor: default;
    border-top: 1px solid white;
}

a.list-group-item.active:hover {
    border-top: 1px solid white;
}

a.list-group-item.active:focus,
a.list-group-item.active:hover {
    background-image: none;
    background-color: inherit;
    border-bottom-color: #eeeeee;
    color: black;
    text-shadow: none;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #fdfdfe;
}

/** Create Interview Section */

.create-interview-catalog-section {
    margin-left: 20px;
}

.create-interview-catalog-section .panel {
    background-color: white;
    border: 1px solid #d0d0d0;
    box-shadow: none;
    border-radius: 0;
}

.create-interview-catalog-section .panel-heading {
    background-color: #999999;
    color: white;
    padding: 3px;
    border-radius: 0;
}

.create-interview-catalog-section .panel-heading h4 {
    margin: 0;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}

.btn-panel {
    color: white;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 0 10px;
}

.catalog-labels ul {
    margin: 0;
    padding: 5px 0;
    font-size: 0;
}

.catalog-labels li {
    position: relative;
    display: inline-block;
    line-height: 15px;
    font-size: 10px;
    margin: 0 3px 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 7px 0 4px;
    border-width: 1px 0;
    border-radius: 0 2px 2px 0;
    border-style: solid;
}

.catalog-labels li:before {
    left: -7px;
    top: -1px;
    position: absolute;
    content: " ";
    background-image: url(../images/UI/label-mask.png);
    width: 7px;
    height: 17px;
}

.label-red {
    background-color: #eb372d;
    color: white;
    border-color: #ee5e58;
}

.label-red:before {
    background-color: #eb372d;
}

.label-blue {
    background-color: #0f73c2;
    color: white;
    border-color: #5c94ce;
}

.label-blue:before {
    background-color: #0f73c2;
}

.catalogs-list {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 5px 0;
}

.catalogs-list > ul {
    display: block;
    margin: 0 5px 0 0;
    list-style: none;
    height: 220px;
    overflow: auto;
}

.catalogs-list li {
    padding: 0 5px;
    display: block;
    overflow: auto;
}

.catalogs-list li a {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    position: relative;
}

.catalogs-list li a:before {
    content: " ";
    width: 6px;
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
}

.catalog-item-menu {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.selected .catalog-item-menu {
    display: block;
}

.catalog-list-item {
    position: relative;
}

.catalog-red .catalog-item-name:before {
    background-color: #eb372d;
}

.catalog-blue .catalog-item-name:before {
    background-color: #0f73c2;
}

.catalog-red.selected .catalog-item-name {
    background-color: #eb372d;
    font-weight: bold;
    color: white;
}

.catalog-blue.selected .catalog-item-name {
    background-color: #0f73c2;
    font-weight: bold;
    color: white;
}

.catalog-item-menu i {
    color: white;
}

.catalogs-list .selected .catalog-count {
    display: none;
}

.catalog-count {
    font-size: 8px;
    color: #928986;
}

.catalog-questions-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-questions-list li {
    max-width: 450px;
    overflow: hidden;
}

.catalog-questions-list a:before {
    display: none;
}

.catalog-questions-list li a {
    color: #333f4d;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 0 5px;
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #d6d6d6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.questions-list {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.questions-list ul {
    padding: 0 10px;
    margin: 5px 5px 5px 0;
    height: 130px;
}

.questions-list li {
    list-style: none;
    max-width: 450px;
}

.questions-list li a {
    color: #333f4d;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #d6d6d6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.questions-list li a:hover {
    background-color: #efefef;
}

.jspVerticalBar {
    width: 6px;
    box-sizing: border-box;
}

.jspDrag {
    background-color: #b5b5b5;
}

.jspTrack {
    background-color: #e8e8e8;
}

/** End Create Interview Section */

/** Interviews List Section */
.interview-item {
    margin-bottom: 30px;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 0 0 5px 5px;
}

.interview-item,
.interview-item header {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.interview-item:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
}

.interview-item:hover header {
    background-color: #0F73C2;
}

.interview-item header {
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
}

.interview-item header h4 {
    margin: 0;
    padding: 2px 0;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.interview-item header p {
    margin: 0;
    font-size: 10px;
    color: #eaeaea;
}

.interview-time {
    text-align: center;
    padding: 15px 0;
}

.interview-date {
    font-size: 32px;
    line-height: 32px;
}

.interview-item footer {
    margin-top: 5px;
}

.interview-hours {
    background-color: #9a9a9a;
    color: white;
    display: inline-block;
    font-size: 14px !important;
    font-weight: bold;
    padding: 0 10px;
    margin: 0;
    line-height: 30px;
    text-shadow: 1px 1px 0 #6d6d6d;
}

.interview-candidate-avatar {
    max-width: 25px;
    display: block;
    margin: 5px 0;
}

/** End Interviews List Section */

.wrap {
    background: url(../img/background_textureGray.gif) #ececec;
    clear: both;
    overflow: hidden;
}

.errorlist {
    padding: 0;
    color: #a94442;;
}

.errorlist li {
    list-style-type: none;
}

