html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 13px;
    background-color: #eeeeee;
}

hr {
    border-color : #D1D1D1;
}

.dashed-border {
    border: 1px dashed #D1D1D1;
}


.inline-block {
    display: inline-block;
}

#container {
}

#content-wrap {
    min-width: 100%;
    height: calc(100% - 60px);
    margin-top: 20px;
}
/** Adjusting Bootstrap classes */
.container {
    /*max-width: 1000px;*/
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

.panel-default > .panel-heading {
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: none;
}

.panel-heading h3 {
    font-weight: bold;
}

label {
    color: #666666;
}

[type=text],
[type=password],
[type=email],
select.form-control {
    background-color: #fafafa;
    border-radius: 3px;
}

.list-group-item {
    background-color: #fafafb;
    border-top: 1px solid white;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: auto;
}

a.list-group-item.active {
    border-bottom-color: #eeeeee;
    border-left: 2px solid #d26911 !important;
    background-image: none;
    background-color: #ffffff;
    color: black;
    text-shadow: none;
    font-weight: bold;
    cursor: default;
    border-top: 1px solid white;
}

a.list-group-item.active:hover {
    border-top: 1px solid white;
}

a.list-group-item.active:focus,
a.list-group-item.active:hover {
    background-image: none;
    background-color: inherit;
    border-bottom-color: #eeeeee;
    color: black;
    text-shadow: none;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #fdfdfe;
}

.panel {
    border-radius : 0;
    border: 0;
}


