.navbar-default{
	background-color: #333;
	background-image: none;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 1px #818181;
	padding-left: 25%;
}
.navbar-default .container-fluid{
	padding-left: 60px;
	padding-right: 60px;
}
.navbar-default .navbar-collapse{
	padding-left: 0px;
}
.navbar-default #nav-left-section{
	margin-left: 41px;
	display: inline-block;
}
.navbar-default #nav-right-section{
	/*margin-left: 39px;*/
	display: inline-block;
}
.navbar-default .navbar-nav > li > a{
	padding-top: 10px;
	padding-left: 0px;
	text-shadow: none;
	color: #b9b9b9;
	padding-right: 20px;
	font-size: 15px;
	position: relative;
	top: 12px;
	padding-bottom: 10px;;
}
.navbar-default .navbar-nav > li > a:hover{
	color: white;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 10px;
}
.navbar-default .navbar-nav > li > a.active{
	border-bottom: 7px solid #e45000;
	color: #e45000;

}
.navbar-nav > li{
	
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
	color: white;
}
.navbar-default .dropdown-menu{
	top: 52px;
	
}