/*REPORT PAGE*/
#report{
	position: relative;
	padding-top: 30px;
	background-color: #e4e4e4;
}
#report #interviews-upper-bar{
	margin-bottom: 60px;
}
#report #interviews-upper-bar form input{
	height: 41px;
	margin: 0px;
	border-radius: 1px;
	border-color: #dedede;
	font-size: 19px;
}
#report #interviews-upper-bar form span{
	position: absolute;
	height: 41px;
	width: 41px;
	line-height: 36px;
	background-color: transparent;
	border: none;
	right: 22px;
	color: #cacaca;
}
#report #interviews-upper-bar form span i.glyphicon-search{
	font-size: 20px;
}


/*REPORT ITEM*/
#reports-view-container{
	padding-left: 40px;
}
.report-item footer{
	display: none;
}
.report-item{
	background-color: white;
	border-top: 7px solid #361364;
	border-radius: 0px;
	box-shadow: 0px 0px 3px #e4e4e4;
	position: relative;
}
.report-item .glyphicon-remove{
	position: absolute;
	right: 26px;
	top: 7px;
	color: white;
	display: none;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 19px;
	z-index: 10;
}
.report-item:hover .glyphicon-remove{
	display: block;
}
.report-item header{
	background-color: transparent;
	color: black;
	text-align: center;
}
.report-item section.interview-time{
	background-color: transparent;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #dbdbdb;
	padding: 0px;
	margin-top: 15px;
	position: relative;
	padding-top: 5px;
}
.report-item header h4{
	font-size: 22px;
	text-shadow: none;
	padding-bottom: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.report-item header p{
	color: #9b9b9b;
	font-size: 15px;
}
.report-item .name-container{
	height: 50px;
}
.report-item .name-container .bottom-aligner{
	display: inline-block;
	vertical-align: bottom;
	width: 0px;
	height: 100%;
}

.report-item:hover, #upcoming-interviews .report-item{
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
	background-color: #361364;
}
.report-item:hover header, #upcoming-interviews .report-item header{
	background-color: transparent;
	color: white;
}
.report-item:hover header p, #upcoming-interviews .report-item header p{
	color: #ddd;
}
.report-item:hover section.interview-time > p, #upcoming-interviews .report-item section.interview-time > p{
	color: #ddd;
}
.report-item d .report-item div.content span{
	text-align: center;
	width: 100%;
}

.report-item div.content{
	text-align: center;
	line-height: 46px;
}
.report-item div.content span{
	text-align: center;
	width: 100%;
	color: #361364;
	font-size: 60px;
}
.report-item div.content span small{
	font-size: 100%;
	color: #c3b9d1;
	}
.report-item:hover div.content span{
	color: white;
}
/*REPORT LIST ITEM*/
#reports-list-view .report-item{
	border-top: none;
	margin-bottom: 7px;
	padding: 0px;
	position: relative;

}
#reports-list-view .report-item > *{
	display: inline-block;
}

#reports-list-view .report-item > .report-rating{
	font-size: 17px;
	padding-left: 20px;
	padding-right: 20px;
	width: 90px;
	background-color: #361364;
	line-height: 32px;
	color: #eee;
}
#reports-list-view .report-item > h4{
	margin: 0px;
	padding-left: 10px;
	width: 250px;
	border-right: 1px solid #999;
}
#reports-list-view .report-item > p{
	margin: 0px;
	padding-left: 10px;
	color: #999;
}
#reports-list-view .report-item > .action-icons{
	position: absolute;
	right: 9px;
	top: 9px;
}
#reports-list-view .report-item > .action-icons > .glyphicon{
	margin-left: 3px;
	margin-right: 3px;
	color: #e0e0e0;
}
#reports-list-view .report-item > .action-icons > .glyphicon:hover{
	color: white;
}

#reports-list-view .report-item:hover > h4{
	color: #eee;
}

#reports-grid-view .report-item span.glyphicon-eye-open{
	position: absolute;
	right: 13px;
	top: auto;
	bottom: 17px;
	color: #c3b9d1;
}