<div class="create-interview" xmlns="http://www.w3.org/1999/html">
  <form id="createInterview" name="createInterview" class="form-horizontal create-interview-form"
        enctype="multipart/form-data" action="" method="post" role="form">

    <div class="row">
      <div  class="col-lg-8 col-lg-offset-2">

        <div class="row">
          <div class="col-lg-12">
            <h1> <%= title %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 left-border form-left">

            <div class="form-group ">
              <label for="id-candidate-name"> Name : </label>
              <input class="form-control"
              <% if ( interview ) { %> value = <%= interview.candidate.name %> <% } %>
              data-parsley-trigger="focusout" id="candidate_name" maxlength="255" name="candidate_name"
              placeholder="Candidate name" required="true" type="text">
            </div>

            <div class="form-group ">
              <label for="id_candidate-surname"> Surname : </label>
              <input class="form-control"
              <% if ( interview ) { %> value = <%= interview.candidate.surname %> <% } %>
              data-parsley-trigger="focusout" id="candidate_surname" maxlength="255" name="candidate_surname"
              placeholder="Candidate surname" required="true" type="text">
            </div>

            <div class="form-group ">
              <label for="id_candidate-email"> Email : </label>
              <input class="form-control"
              <% if ( interview ) { %> value = <%= interview.candidate.email %> <% } %>
              data-parsley-trigger="focusout" id="candidate_email" maxlength="75" name="candidate_email"
              placeholder="Candidate email" required="true" type="email" >
            </div>

            <div class="cv-uploader form-group">
              <div class="fileupload-container">
                <span class="btn btn-grey fileinput-button">
                  <span>Upload candidate's CV</span>
                  <input class="fileupload" type="file" name="file" data-url="/dashboard/files/">
                </span>
                  <span class="uploaded-file-link">
                   <% if ( cv ) { %>
                    <a target="_blank" data-delete-url="<%= cv.delete_url %>" href="<%= cv.url %>">
                    <%= cv.original_name %></a>
                    <% } else { %> No file uploaded yet <% } %>
                  </span>
                <div class="progress file-upload-progress" style="display:none">
                  <div class="progress-bar progress-bar-grey"></div>
                </div>
                <input class="hidden file-id-input" id="candidate_cv" name="candidate_cv"
                       type="number" required="true" <% if (cv) { %> value="<%= cv.id %>" <% } %>  >
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-right">
            <div class="job-position form-group ">
              <label for="catalogue"> Job Position :
                <a class="interview-datetime open-create-job-position"
                href="javascript:void(0)"> (create a new position) </a>
              </label>
              <select class="form-control select-job-position" name="job_position" required="true"
              <% if ( interview ) { %> value ="<%= interview.job_position %>" <% } %> >
              <% if ( !interview || !interview.job_position) { %>
              <option selected disabled hidden value=''>Select a job position</option>
              <%} %>
              <% _.each(jobPositions, function(c) { %>
              <option value="<%= c.id %>"
              <% if ( interview && interview.job_position === c.id ) { %> selected <% } %> >
              <%= c.position %> </option>
              <% }); %>
              </select>
            </div>

            <div class="interview-catalogue form-group ">
              <label for="catalogue">Catalogue :
                <a class="interview-datetime open-create-catalogue" href="javascript:void(0)">(create a new catalogue)</a>
              </label>
              <select class="form-control catalogue-selector" name="catalogue" required="true">
                <% if ( !interview || !interview.catalogue ) { %>
                <option selected disabled hidden value=''>Select a catalogue</option> <%} %>
                <% _.each(catalogues, function(c) { %>
                <option value="<%= c.id %>"
                <% if ( interview && interview.catalogue === c.id )
                { %> selected <% } %> > <%= c.catalogue_name %>
                </option>
                <% }); %>
              </select>
            </div>

            <div class="form-group datetime">
              <label for="">Date/Time of the interview:
                <span class="datetime-display">
                  <% if (interview) { %> <%= displayTime(interview.start) %> <% } else { %> Unset. <% } %>
                </span>
              </label>
              <a class="btn btn-grey btn-stretch interview-datetime open-calendar" href="javascript:void(0)"> Open Calendar </a>
              <input class="hidden start" name="start" type="text" required="true"
                <% if (interview) { %> value="<%= interview.start %>" <% } %> >
              <input class="hidden end" name="end" type="text" <% if (interview) { %> value="<%= interview.end %>" <% } %> >
            </div>

          </div>
        </div>

        <div  class="row">
          <div class="col-lg-4 col-lg-offset-4 mt-20">
            <input class="btn btn-primary btn-stretch" type="submit"
                   value=" <% if (create){ %> Book this interview now <% } else { %> Update <% } %> ">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
