<form id="createInterview" name="createInterview" class="form-horizontal create-interview-form"
          enctype="multipart/form-data" action="" method="post" role="form">

      <div class="row">

            <div class="form-group ">
                <label for="id-candidate-name"> Job Position : </label>
                <input class="form-control"
                       data-parsley-trigger="focusout" id="candidate_name" maxlength="255" name="job_position_name"
                       placeholder="Job position name" required="true" type="text">
            </div>

      </div>
</form>