<div class="ratings">
    <button class="rating-button rating-icon-big" data-rating="3" data-default-icon="positive-default-icon" data-active-icon="positive-active-icon" data-inactive-icon="positive-inactive-icon"></button>
    <button class="rating-button rating-icon-big" data-rating="6" data-default-icon="neuter-default-icon" data-active-icon="neuter-active-icon" data-inactive-icon="neuter-inactive-icon"></button>
    <button class="rating-button rating-icon-big" data-rating="9" data-default-icon="negative-default-icon" data-active-icon="negative-active-icon" data-inactive-icon="negative-inactive-icon"></button>
</div>

<div class="status">
    <i class="glyphicon glyphicon-ok"></i>
    <i class="glyphicon glyphicon-refresh"></i>
</div>
<textarea class="answer"></textarea>