<div class="events-wrapper">
    <ul class="event-list">
        <li class="feedback-event">Your feedback to event is <span class="neuter-active-icon rating-icon-small"></span></li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
        <li class="feedback-event">Your feedback to event is <span class="positive-active-icon rating-icon-small"></span></li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
        <li class="feedback-event">Your feedback to event is <span class="negative-active-icon rating-icon-small"></span></li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
        <li class="feedback-event">Your feedback to event is :)</li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
        <li class="feedback-event">Your feedback to event is :)</li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
        <li class="feedback-event">Your feedback to event is :)</li>
        <li class="ask-event">
            <p>You asked <span class="question-tag">question 5</span></p>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</p>
        </li>
    </ul>
</div>