<div class="row">
    <div class="side-col col-xs-3">
        <div class="candidate-info-container"></div>
        <div class="events-container"></div>
    </div>
    <div class="main-col col-xs-9">
        <div class="navigation-bar"></div>

        <div class="content">
            <div class="question-text">
                <span>Q8/30</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis magna est, viverra ut sem non, dictum volutpat velit. Integer auctor imperdiet feugiat?
                <a href="#" class="arrow left">
                    <span class="left-arrow-icon"></span>
                </a>
                <a href="#" class="arrow right">
                    <span class="right-arrow-icon"></span>
                </a>
            </div>
            <div class="question-navigation">
                <a href="#" class="question rated positive"></a>
                <a href="#" class="question rated negative"></a>
                <a href="#" class="question rated neuter"></a>
                <a href="#" class="question answered rated neuter"></a>
                <a href="#" class="question answered rated negative"></a>
                <a href="#" class="question answered rated positive"></a>
                <a href="#" class="question"></a>
                <a href="#" class="question current"></a>
                <a href="#" class="question"></a>
                <a href="#" class="question"></a>
                <a href="#" class="question"></a>

            </div>
            <div class="question-selection-preview">
                <p class="header"><b>Question 5</b>/15</p>
                <p class="text">Lorem ipsum dolor sit amet, dictum volutpat velit. Integer auctor imperdiet feugiat adipiscin magna est viverra ut sem non volutpat velit?</p>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="question-answer">
                <div class="ratings">
                    <button class="positive-default-icon rating-icon-big"></button>
                    <button class="neuter-default-icon rating-icon-big"></button>
                    <button class="negative-default-icon rating-icon-big"></button>
                </div>

                <div class="status">
                    <i class="glyphicon glyphicon-ok"></i>
                    <i class="glyphicon glyphicon-refresh"></i>
                </div>
                <textarea class="answer">
                    I am writing what I want in this textarea.
                    Bla bla bla blue.

                    Lorem ipsum dolor sit amet, dictum volutpat velit.

                    Integer auctor imperdiet feugiat adipiscin magna est viverra ut sem non volutpat.
                </textarea>
            </div>

            <textarea class="notes">
                writing
            </textarea>
        </div>
    </div>
    <div class="conclude-control col-xs-12">
        <span>Click to conclude</span>
    </div>
</div>