<div class="question-text">
    <span>Q<%= view.questionNumber(model) %>/<%= view.totalQuestionsCount() %></span>  <%= model.get('question_text') %>

    <% var previousQuestionUrl = view.previousQuestionUrl(); %>
    <% if (previousQuestionUrl) { %>
        <a href="<%= previousQuestionUrl %>" class="arrow left">
            <span class="left-arrow-icon"></span>
        </a>
    <% } %>

    <% var nextQuestionUrl = view.nextQuestionUrl(); %>
    <% if (nextQuestionUrl) { %>
        <a href="<%= nextQuestionUrl %>" class="arrow right">
            <span class="right-arrow-icon"></span>
        </a>
    <% } %>
</div>
<div class="question-navigation">
    <% view.questions.each(function (question) { %>
        <a href="<%= view.questionUrl(question.id) %>" data-question-id="<%= question.id %>" class="<%= view.questionButtonClass(question) %>"></a>
    <% }); %>
</div>
<div class="question-selection-preview not-visible">
    <p class="header"><b>Question <b class="number"></b></b>/<%= view.totalQuestionsCount() %></p>
    <p class="text"></p>
</div>
<div class="clearfix"></div>
<hr>

<div class="question-answer"></div>

<textarea class="notes">
    writing
</textarea>