<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form id="login_form" method="post" action="{% url 'login' %}" role="form">
  {% csrf_token %}
  <div class="form-group">

    <input type="text" class="form-control login-field" id="uname" placeholder="Username"
           name="username"
           value=""
           size="50">
    <label class="input-icon fui-user" for="uname"></label>

  </div>
  <div class="form-group">

    <input type="password" class="form-control login-field" id="pwd" placeholder="Password"
           name="password"
           value=""
           size="50">
    <label class="input-icon fui-lock" for="pwd"></label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" style="">Submit</button>
  </div>
</form>

</body>
</html>