{% extends "dashboard.html" %}
{% block page_content %}

<div class="row">
  <div class="col-md-3">
    <div class="grid simple vertical green">
      <div class="grid-title no-border">
        <h4>Grid <span class="semi-bold">One</span></h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body no-border">
        <div class="row-fluid">
          <div>
            <h3>Colored<span class="semi-bold"> Band</span></h3>
            <div class="color-bands green"></div>
            <div class="color-bands purple"></div>
            <div class="color-bands red"></div>
            <div class="color-bands blue"></div>
            <br>
            <p>The overflow is clipped, and the rest of the content will be invisible, Play it ». scroll, The overflow is clipped, but a scroll-bar is added to see the rest of the </p>
            <p> default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="grid simple vertical green">
      <div class="grid-title no-border">
        <h4>Grid <span class="semi-bold">One</span></h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body no-border">
        <div class="row-fluid">
          <div>
            <h3>Colored<span class="semi-bold"> Band</span></h3>
            <div class="color-bands green"></div>
            <div class="color-bands purple"></div>
            <div class="color-bands red"></div>
            <div class="color-bands blue"></div>
            <br>
            <p>The overflow is clipped, and the rest of the content will be invisible, Play it ». scroll, The overflow is clipped, but a scroll-bar is added to see the rest of the </p>
            <p> default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="grid simple horizontal red">
      <div class="grid-title ">
        <h4>Grid Two</h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body">
        <div>
          <h3>Colored<span class="semi-bold"> Band</span></h3>
          <div class="color-bands green"></div>
          <div class="color-bands purple"></div>
          <div class="color-bands red"></div>
          <div class="color-bands blue"></div>
          <p>The overflow is clipped, and the rest of the content will be invisible, Play it ». scroll, The overflow is clipped, but a scroll-bar is added to see the rest of the </p>
          <p> default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="grid simple horizontal red">
      <div class="grid-title ">
        <h4>Grid Two</h4>
        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
      </div>
      <div class="grid-body">
        <div>
          <h3>Colored<span class="semi-bold"> Band</span></h3>
          <div class="color-bands green"></div>
          <div class="color-bands purple"></div>
          <div class="color-bands red"></div>
          <div class="color-bands blue"></div>
          <p>The overflow is clipped, and the rest of the content will be invisible, Play it ». scroll, The overflow is clipped, but a scroll-bar is added to see the rest of the </p>
          <p> default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}