<div class="answer-row row">
    <div class="question left-col"></div>
    <div class="center-col"></div>
    <div class="right-col">
        <div class="answer-container">
            <p>You asked <span class="tag">question 5</span></p>
            <div class="answer">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis magna est, viverra ut sem non, dictum volutpat velit. Integer auctor imperdiet feugiat.
                    Aliquam bibendum rhoncus leo, et condimentum nunc vestibulum sit amet. Praesent venenatis est vulputate purus cursus ultricies.
                </p>
                <a href="#" class="edit pencil-icon icon-small"></a>
            </div>
        </div>
        <div class="rating-container">
            <div class="rating-info">
                <p class="rating">
                    Your feedback on this question is
                    <i class="negative-active-icon icon-small"></i>
                    <i class="neuter-inactive-icon icon-small"></i>
                    <i class="positive-inactive-icon icon-small"></i>
                </p>
                <p class="rating-change">You changed it. Previous value: 5</p>
            </div>
            <div class="rating-control">
                <ul>
                    <li><a href="#">0</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                </ul>
                <p>click a number to change or tune your feedback</p>
            </div>
        </div>
    </div>
</div>