<div class="rating-info">
    <p class="rating-text">
        Your feedback on this question is
        <i class="rating-icon icon-small" data-min-rating="0" data-max-rating="3" data-active-icon="negative-active-icon" data-default-icon="negative-default-icon" data-inactive-icon="negative-inactive-icon"></i>
        <i class="rating-icon icon-small" data-min-rating="4" data-max-rating="7" data-active-icon="neuter-active-icon" data-default-icon="neuter-default-icon" data-inactive-icon="neuter-inactive-icon"></i>
        <i class="rating-icon icon-small" data-min-rating="8" data-max-rating="10" data-active-icon="positive-active-icon" data-default-icon="positive-default-icon" data-inactive-icon="positive-inactive-icon"></i>
    </p>
    <p class="rating-change">You changed it. Previous value: <b></b></p>
</div>
<div class="rating-control">
    <ul>
        <% _.each(_.range(0,11), function (ratingValue) { %>
            <li><a href="#" data-rating-value="<%= ratingValue %>"><%= ratingValue %></a></li>
        <% }); %>
    </ul>
    <p>click a number to change or tune your feedback</p>
</div>