<div class="rating-info">
    <p class="rating-text">
        Your feedback on this question is
        <i class="negative-active-icon icon-small"></i>
        <i class="neuter-inactive-icon icon-small"></i>
        <i class="positive-inactive-icon icon-small"></i>
    </p>
    <p class="rating-change">You changed it. Previous value: 5</p>
</div>
<div class="rating-control">
    <ul>
        <% _.each(_.range(0,11), function (ratingValue) { %>
            <li><a href="#" data-rating-value="<%= ratingValue %>"><%= ratingValue %></a></li>
        <% }); %>
    </ul>
    <p>click a number to change or tune your feedback</p>
</div>