<div class="rating-info">
    <p class="rating-text">
        Your feedback on this question is
        <i class="negative-active-icon icon-small"></i>
        <i class="neuter-inactive-icon icon-small"></i>
        <i class="positive-inactive-icon icon-small"></i>
    </p>
    <p class="rating-change">You changed it. Previous value: 5</p>
</div>
<div class="rating-control">
    <ul>
        <li><a href="#">0</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
    </ul>
    <p>click a number to change or tune your feedback</p>
</div>