<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

    <title>{% block title %} SeeVcam {% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/jquery.jscrollpane/jquery.jscrollpane.css" %}">
    <link rel="stylesheet"
          href="{% static "bower_components/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/fullcalendar.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar.css" %}">

    <script src="{% static "bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js" %}"></script>

</head>

<body>

{% block navigation_bar %}
    {% include "dashboard-navigation.html" %}
{% endblock navigation_bar %}

<div id="content-wrap">
    <div id="container" class="container">
        {% block content %} Content {% endblock content %}
    </div>
</div>

{#Communication from the server to the client #}
<script type="application/javascript">
    var CONSTANTS = (function () {
        return {
            csrft_token: "{{ csrf_token }}"
        }
    }());
</script>

{# Libraries #}
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "bower_components/underscore/underscore-min.js" %}"></script>
<script src="{% static "bower_components/jquery-mousewheel/jquery.mousewheel.min.js" %}"></script>
<script src="{% static "bower_components/jquery.jscrollpane/mwheelIntent.js" %}"></script>
<script src="{% static "bower_components/jquery.jscrollpane/jquery.jscrollpane.min.js" %}"></script>
<script src="{% static "bower_components/jquery-pjax/jquery.pjax.js" %}"></script>
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" %}"></script>
<script src="{% static "bower_components/parsleyjs/dist/parsley.min.js" %}"></script>
<script src="{% static "bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js" %}"></script>
<script src="{% static "bower_components/typeahead.js/dist/typeahead.jquery.min.js" %}"></script>
<script src="{% static "bower_components/typeahead.js/dist/bloodhound.min.js" %}"></script>
<script src="{% static "bower_components/backbone/backbone.js" %}"></script>
<script src="{% static "bower_components/jquery-migrate/jquery-migrate.min.js" %}"></script>
<script src="{% static "bower_components/fullcalendar/fullcalendar.min.js" %}"></script>

{# Seevcam javascript codes goes here #}
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/initialization.js" %}"></script>
<script src="{% static "js/create-catalogue-widget.js" %}"></script>
<script src="{% static "js/calendar-init.js" %}"></script>

</body>

</html>