<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

    <title>{% block title %} SeeVcam {% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if enviroment ==  "PRODUCTION" %}
        <link rel="stylesheet" href="/css/seevcam.css">
        <script type="text/javascript" src="/js/seevcam.min.js"></script>
    {% else %}
        {# less #}
        <link rel="stylesheet/less" type="text/css" href="{% static "client/dashboard/main.less" %}" />
        <script type="text/javascript" src="{% static "bower_components/less/dist/less-1.7.5.min.js" %}"></script>
        {# app.js #}
        <script type="text/javascript" data-main="{% static "" %}"  src="{% static "bower_components/requirejs/require.js" %}"></script>
        <script type="text/javascript" src="{% static "client/dashboard/boot.js" %}"></script>
    {% endif %}

    <script type="application/javascript">
        window.CONSTANTS = (function () {
            return {
                csrft_token: "{{ csrf_token }}",
                server_timezone : "UTC"
            };
        }());
        window.cache = {};
    </script>

</head>

<body>

{% block navigation_bar %}
    {% include "dashboard-navigation.html" %}
{% endblock navigation_bar %}

<div id="nanobar-container"></div>

<div id="content-wrap">
    <div id="container" class="container">
        {% block content %} Loading... Please wait. {% endblock content %}
    </div>
</div>

</body>

</html>
