<div class="pull-left">
  <!-- BEGIN SLIM NAVIGATION TOGGLE -->

  <!--<ul class="nav quick-section">-->
  <!--<li class="quicklinks">-->
  <!--<a href="#" class="" id="layout-condensed-toggle">-->
  <!--<div class="iconset top-menu-toggle-dark"></div>-->
  <!--</a>-->
  <!--</li>-->
  <!--</ul>-->

  <!-- END SLIM NAVIGATION TOGGLE -->
  <!-- BEGIN HEADER QUICK LINKS -->
  <ul class="nav quick-section">

    <!--<li class="quicklinks">-->
      <!--<a href="#" class="">-->
        <!--<div class="iconset top-reload"></div>-->
      <!--</a>-->
    <!--</li>-->

    <li class="quicklinks">
      <span class="h-seperate"></span>
    </li>

    <li class="quicklinks">
      <a href="#" class="">
        <div class="iconset top-tiles"></div>
      </a>
    </li>
    <li class="quicklinks">
      <a href="{% url 'int_list' %}" class="">Interviews</a>
    </li>
    <li class="quicklinks">
      <span class="h-seperate"></span>
    </li>

    <li class="quicklinks">
      <a href="#" class="">
        <div class="iconset top-tiles"></div>
      </a>
    </li>
    <li class="quicklinks">
      <a href="{% url 'quest_list' %}" class="">Questions</a>
    </li>
    <li class="quicklinks">
      <span class="h-seperate"></span>
    </li>

    <li class="quicklinks">
      <a href="{% url 'int_list' %}" class="">
        <div class="iconset top-tiles"></div>
      </a>
    </li>
    <li class="quicklinks">
      <a href="#" class="">Reports</a>
    </li>
    <li class="quicklinks">
      <span class="h-seperate"></span>
    </li>

    <li class="quicklinks">
      <a href="#" class="">
        <div class="iconset top-tiles"></div>
      </a>
    </li>
    <li class="quicklinks">
      <a href="{% url 'account_profile' %}" class="">Profile</a>
    </li>
    <li class="quicklinks">
      <span class="h-seperate"></span>
    </li>

    <!-- BEGIN SEARCH BOX -->
    <li class="m-r-10 input-prepend inside search-form no-boarder">
      <span class="add-on"><span class="iconset top-search"></span></span>
      <input name="" type="text" class="no-boarder" placeholder="Search Dashboard" style="width:250px;">
    </li>
    <!-- END SEARCH BOX -->
  </ul>

  <!-- BEGIN HEADER QUICK LINKS -->
</div>