{% extends "base.html" %}
{% load static %}
{% block title %}dashboard{% endblock title %}

{% block body %}
<div class="header navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="header-quick-nav">
      {% include "dashboard_left.html" %}
      {% include "dashboard_right.html" %}
    </div>
  </div>
</div>

<div class="page-container row-fluid">
  <div class="page-content">
    <div class="content">
      {% block page_content %}
      <div class="page-title">
        <h3>Master Page</h3>
      </div>
      {% endblock page_content %}
    </div>
  </div>
</div>
{% endblock body %}



