/*
  Colors
*/

@orange : #e45000;
@light-orange : #FF9861;
@light-grey: #f1f1f1;
@grey : #666;
@nav-bar-grey :#cccccc;
@blue : #0071bb;
@background-grey : #eeeeee;

/*
  Seevcam properties
*/

@nav-height : 40px;

body{
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


/*****************************************************************************
 *                        Overriding Bootstrap properties                    *
 *****************************************************************************/

.btn-primary {
  background-color : @orange;
  background-image: -webkit-linear-gradient(top,@light-orange 0%, @orange 100%);
  background-image: linear-gradient(to bottom, @light-orange 0%, @orange 100%);
  border-color : @orange;

  &:hover, &:focus {
    background-color : @orange;
    border-color : @orange;
  }

}


@import "modules/profile/profile";
@import "modules/questions/questions.css";
@import "modules/navbar/navbar";
@import "modules/notification/notification";
@import "modules/interviews/create_interview";
@import "modules/interviews/interviews";
@import "../misc/overlay/overlay";
