/*
  Colors
*/

@orange : #e45000;
@light-grey: #f1f1f1;
@nav-bar-grey :#cccccc;

/*
  Seevcam properties
*/

@nav-height : 40px;

@import "modules/questions/questions.css";
@import "modules/navbar/navbar";
@import "modules/notification/notification";