.vertical-center {
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.brand {
    color: #e45000;
    /*font-size: 18px;*/
    line-height: 40px;
}

a {
    color: #e45000;
}