<span class="glyphicon glyphicon-remove delete-interview"></span>
<header>
  <div class="row">
    <div class="col-sm-12">
      <div class="name-container">
        <h4><%= name %> <%= surname %></h4>
      </div>
      <p> <%= job_position %></p>
    </div>
  </div>
</header>
<section class="interview-time">
  <p class="interview-date">
    <span class="date-string"><%= date_string %></span>
    <span class="date-day"><%= day %></span>
    <span class="date-separator"><%= date_separator %></span>
    <span class="date-month"><%= month %></span>
    <span class="date-separator"><%=  date_separator %></span>
    <span class="date-year"><%= year %></span>
  </p>
  <p class="interview-hours"><%= time %></p>
</section>