{% extends "dashboard.html"|pjax:request %}

{% block title %} Create Interview {% endblock title %}

{% block content %}

    {% load interviews_filters %}
    {% load widget_tweaks %}
    {% load static %}

    <div class ="create-interview" class="create-interview">
    <h1>New Interview</h1>

    <form id='createInterview' data-pjax name='createInterview' class="form-horizontal create-interview-form" enctype="multipart/form-data"
          action="" method="post" role="form" >
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-6">

                <hr/>
                {% interviews_field candidate_form.name|parsley:"required:true,data-parsley-trigger:focusout" %}
                {% interviews_field candidate_form.surname|parsley:'required:true,data-parsley-trigger:focusout' %}
                {% interviews_field candidate_form.email|parsley:'required:true,data-parsley-trigger:focusout' %}

                <div class="cv-uploader">

                 
                {{ candidate_form.cv }}
                    <div class="fileupload-container">
                        <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select Curriculum</span>
                            <input class="fileupload" type="file" name="file" data-url="/dashboard/files/">
                        </span>
                        <span class="uploaded-file-link"> No file uploaded yet </span>
                    </div>
                </div>

                <hr/>

                {{ form.start }}
                {{ form.end }}
{#                {% calendar_field form.interview_datetime form.interview_datetime_end request.user %}#}

                <hr/>

                <div class="interview-catalogue form-group has-feedback
                            {% if form.catalogue.errors %} has-error {% endif %}">
                    <div class="input-group full-width">
                        <label for="{{ form.catalogue.id_for_label }}">
                            {{ form.catalogue.label }} :
                        </label>
                        <input type="text" data-field-name="{{ form.catalogue.name }}" required
                               data-parsley-trigger="focusout"
                               data-parsley-errors-container=".interview-catalogue .error-form"
                               placeholder="{{ form.catalogue.label }}"
                               value="{{ form|selected_catalogue_name }}"
                               class="form-control typeahead" />
                        <input type="hidden" name="{{ form.catalogue.name }}" required
                               value = "{{ form|selected_catalogue_id }}" />

                        <div class="error-form">
                            {{ form.catalogue.errors }}
                        </div>
                     </div>
                </div>

                {% interviews_field job_position_form.position|parsley:'required:true,data-parsley-trigger:focusout' %}

                 {{ job_position_form.job_description }}
                <hr/>

                <input class="btn btn-primary" type="submit" value="Create"/>
           </div>
        </div>
    </form>

</div>

{% endblock content %}
