{% load interviews_filters %}
{% load widget_tweaks %}

<h1>New Interview</h1>

<form class="form-horizontal" enctype="multipart/form-data" action="" method="post" role="form">
{% csrf_token %}

{{ form.non_field_errors }}

<div class="row">
<div class="col-lg-6">

    {% interviews_field form.candidate_name %}
    {% interviews_field form.candidate_surname %}
    {% interviews_field form.candidate_email %}

    <div class="form-group {% if form.candidate_cv.errors %} has-error {% endif %}">
        <label class="control-label col-xs-3" for="{{ form.candidate_cv.id_for_label }}">
            {{ form.candidate_cv.label }}
        </label>

        <div class="col-xs-9 ">
            {{ form.candidate_cv }}
            <div class="error-form">
                {{ form.candidate_cv.errors }}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-5">
            {% datepicker_field form.interview_date min='today' %}
        </div>
        <div class="col-lg-5 col-lg-offset-2">
            {% timepicker_field form.interview_time %}
        </div>
    </div>

    <hr/>

    <div class="form-group {% if form.interview_job_description.errors %} has-error {% endif %}">
        <label class="control-label col-xs-3" for="{{ form.interview_job_description.id_for_label }}">
            {{ form.interview_job_description.label }}
        </label>

        <div class="col-xs-9 ">
            {{ form.interview_job_description }}
            <div class="error-form">
                {{ form.interview_job_description.errors }}
            </div>
        </div>
    </div>

    {% interviews_field form.interview_description %}

    <div class="form-group {% if form.interview_catalogue.errors %} has-error {% endif %}">
        <label class="control-label col-xs-3" for="{{ form.interview_catalogue.id_for_label }}">
            {{ form.interview_catalogue.label }}
        </label>

        <div class="col-xs-9 ">
            {{ form.interview_catalogue|add_class:"form-control" }}
            <div class="error-form">
                {{ form.interview_catalogue.errors }}
            </div>
        </div>
    </div>

    <hr/>

    <div class="">
        <input class="btn btn-primary" type="submit" value="Create"/>
    </div>

</div>
<div class="col-lg-6">
    <div class="create-interview-catalog-section">
        <div class="row">
            <div class="panel">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-left">
                        <a href="#" class="btn btn-panel btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </div>
                    <h4>My Interview</h4>
                </div>
                <div class="questions-list">
                    <ul class="scroll-pane">
                        <li>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                            <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="panel">
                <div class="catalogs-picker">
                    <div class="catalog-labels">
                        <ul>
                            <li class="label-red">seeVcam</li>
                            <li class="label-blue">Library</li>
                        </ul>
                    </div>

                    <div class="catalogs-list">
                        <ul class="scroll-pane">
                            <li class="catalog-list-item catalog-red">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Common HR<span
                                                class="catalog-count">(17)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-red">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">French Worker<span
                                                class="catalog-count">(12)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Human Qualities<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue selected">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Channel Manager<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="catalog-questions-list">
                                    <li>
                                        <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                                        <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                                        <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                                        <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est magna, nec pellentesque sapien ultricies ut.</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Marketing<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Business Development<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Human Qualities<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Channel Manager<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Marketing<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="catalog-list-item catalog-blue">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="catalog-item-name" href="#">Business Development<span
                                                class="catalog-count">(14)</span></a>

                                        <div class="btn-group catalog-item-menu pull-right">
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-folder-close"></i>
                                            </a>
                                            <a href="#" class="btn btn-panel btn-sm">
                                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


</form>
