{% extends "dashboard.html"|pjax:request %}

{% block title %} Create {% endblock title %}

{% block content %}

    {% load interviews_filters %}
    {% load widget_tweaks %}

    <h1>New Interview</h1>

    <form class="form-horizontal" enctype="multipart/form-data" action="" method="post" role="form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="row">
            <div class="col-lg-6">

                {% interviews_field form.candidate_name|parsley:"required:true,data-parsley-trigger:focusout" %}
                {% interviews_field form.candidate_surname|parsley:'required:true,data-parsley-trigger:focusout' %}
                {% interviews_field form.candidate_email|parsley:'required:true,data-parsley-trigger:focusout' %}

                {% file_field form.candidate_cv|parsley:"required:true,data-parsley-trigger:focusout" %}

                <hr/>

                <div class="row">
                    <div class="col-lg-5">
                        {% datepicker_field form.interview_date|parsley:'required:true,data-parsley-trigger:focusout' min='today' %}
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        {% timepicker_field form.interview_time|parsley:'required:true,data-parsley-trigger:focusout' %}
                    </div>
                </div>

                <hr/>

                {% file_field form.interview_job_description|parsley:"required:true,data-parsley-trigger:focusout" %}

                {% interviews_field form.interview_description|parsley:'required:true,data-parsley-trigger:focusout' %}
                {% interviews_field form.interview_position|parsley:'required:true,data-parsley-trigger:focusout' %}

                <div class="form-group has-feedback {% if form.interview_catalogue.errors %} has-error {% endif %}">
                    {{ form.interview_catalogue|parsley:'required:true,data-parsley-trigger:change'|add_class:"form-control" }}
                    <i class="form-control-feedback glyphicon glyphicon-cog"></i>

                    <div class="error-form">
                        {{ form.interview_catalogue.errors }}
                    </div>
                </div>

                <hr/>

                <div class="">
                    <input class="btn btn-primary" type="submit" value="Create"/>
                </div>

            </div>
        </div>
    </form>

{% endblock content %}
