{% if request.is_ajax %}
    {% include "interviews-title.html" %}
{% endif %}

<div id="interview" class="row">
    <div class="col-md-3">
        <div id="interview-controller">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="interview-items">
            <div class="row">
                {% for i in "x"|rjust:"6" %}
                    {% include "interviews-single.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

