<div class="col-lg-4">
    <div class="interview-item">
        <header>
            <div class="row">
                <div class="col-sm-9">
                    <h4>John Smith</h4>

                    <p>Sales Manager</p>
                </div>
                <div class="col-sm-3">
                    <img class="img-rounded interview-candidate-avatar" src="{{ MEDIA_URL }}mock/candidate-avatar.jpg"/>
                </div>
            </div>
        </header>
        <section class="interview-time">
            <p class="interview-date">06/15</p>

            <p class="interview-hours">02:30 PM</p>
        </section>
        <footer>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group btn-group-justified">
                        <a data-toggle="tooltip" title="Start" class="btn btn-success"><i class="glyphicon glyphicon-play"></i></a>
                        <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a data-toggle="tooltip" title="Set Alarm" class="btn btn-default"><i class="glyphicon glyphicon-bell"></i></a>
                        <a data-toggle="tooltip" title="View Details" class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
