{% extends "dashboard.html"|pjax:request %}
{% block content %}

   <div id="interview" class="row">
        <div id="" class="col-md-3 pull-left ">
                <div id="interview-controller" class="margin-10">
                    <ul>
                        <li>  create new interview </li>
                        <li>  search  </li>
                        <li>  filter by  </li>
                    </ul>
                </div>
        </div>
        <div class="col-md-9 pull-right">
            <div id="inner-container" class="margin-10">
                <div> this should be the list of interviews</div>
            </div>
        </div>
    </div>

{% endblock content %}