{% extends "dashboard.html"|pjax:request %}

{% block title %}
    Interviews
{% endblock title %}


{%  block content %}

    {% load interviews_filters %}

    <div id="interview" class="row">
        <div class="col-md-3">
            <div id="interview-controller">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="interview-items">
                {% for interview in object_list %}
                    {% interview_single_component interview request %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
