
<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

    <title>SeeVcam Interview </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if enviroment ==  "PRODUCTION" %}
        {# include compiled css #}
    {% else %}
        <link rel="stylesheet/less" type="text/css" href="{% static "client/interview_room/main.less" %}" />
        <script type="text/javascript" src="{% static "bower_components/less/dist/less-1.7.5.min.js" %}"></script>
    {% endif %}

    <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
    <script type="text/javascript" data-main="{% static "" %}"  src="{% static "bower_components/requirejs/require.js" %}"></script>
    <script type="text/javascript" src="{% static "client/interview_room/boot.js" %}"></script>


    <script type="application/javascript">
        var CONSTANTS = (function () {
            return {
                csrft_token: "{{ csrf_token }}"
            }
        }());
    </script>

</head>
    <body>
        {{ is_interview_open }}
        <h1> Interview room </h1>
        {%  if is_interview_open %}
            {%  include "./sub_templates/room.html" %}
        {% else %}
            {%  include "./sub_templates/error.html" %}
        {% endif %}
    </body>
</html>
