<div class="info-container">
    <span class="left-border">
        Candidate :
        <span class="candidate-name white-text"> Giuseppe </span>
    </span>
    <span class="left-border">
        Arrived
        <% if (model.get('remoteState') === "CONNECTED" || model.get('remoteState') === "READY")  { %>
            <span class="glyphicon glyphicon-ok-circle"></span>
        <% } else  { %>
            <span class="glyphicon glyphicon-remove-circle"></span>
        <% } %>
    </span>
    <span class="left-border right-border">
        Ready
        <% if (model.get('remoteState') === "READY")  { %>
            <span class="glyphicon glyphicon-ok-circle"></span>
        <% } else  { %>
            <span class="glyphicon glyphicon-remove-circle"></span>
        <% } %>
    </span>
</div>