{% extends "dashboard.html"|pjax:request %}

{% block title %}
    Interviews
{% endblock title %}


{%  block content %}

    {% load interviews_filters %}
    {% load base_extras %}

    <div id="interview">

        <!-- CURRENT DATE TIME BOX -->
        <div class="col-md-3" id="current-datetime-container">
            <div id="current-datetime">
                {% current_datetime_component request %}
            </div>
        </div>

        <!-- PENDING INTERVIEWS -->
        {% for interview in interview_pending %}
            <div id="pending-interview" class="col-md-3">
                {% interview_single_component interview request %}
            </div>
        {% endfor %}
            
        <div class="row" id="notes-header">

            <!-- JOB DESCRIPTION HEADER -->
                <div id="job-description-header-container" class="col-md-3">
                <div class="notes-nav {% block nav_jobinterview_active %}{% endblock nav_jobinterview_active %}" id="job-description-header">
                    <span>View </span><b>Job description</b>
                    <div class="active-nav-marker"></div>
                </div>
                </div>

            <div class="col-md-9">

            <!-- INTERVIEW AND CANDIDATE DESCRIPTION -->
                    <div id="candidate-description-header-container" class="col-md-6">
                    <div id="candidate-description-header" class="col-md-6">
                        <div id="candidate-photo"></div>
                        <div id="candidate-description">
                            <span id="name-surname">{{ interview.candidate_name }} {{ interview.candidate_surname }}</span>
                            <span><b>{{ interview.candidate_email }}</b></span>
                            <span>Interviewed on <b>{{ interview.interview_datetime|date:"d" }}</b>/<b>{{ interview.interview_datetime|date:"m" }}</b>/<b>{{ interview.interview_datetime|date:"Y" }}</b></span>
                        </div>
                        <div class="bottom">
                            <div class="notes-nav right {% block nav_cv_active %}{% endblock nav_cv_active %}">
                                <span>View </span><b>Curriculum vitae</b>
                                <div class="active-nav-marker"></div>
                            </div>
                            <div class="notes-nav {% block nav_notes_active %}{% endblock nav_notes_active %}">
                                <a data-pjax href="{% url "notes-list" pk=pk %}"><span>View </span><b>Notes</b></a>
                                <div class="active-nav-marker"></div>
                            </div>
                        </div>
                    </div>
                    </div>

            <!-- INTERVIEW RATING -->
                <div id="interview-rating-header-container" class="col-md-6">
                <div id="interview-rating-header" class="col-md-6">

                    <!-- DONUT CHART -->
                    <div id="notes-donut-chart" data-dimension="100" data-text="{{ rating }}%" data-width="15" data-info="Overall" data-fontsize="24" data-percent="{{ rating }}" data-fgcolor="white" data-bgcolor="#834283" data-total="70" data-part="15" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff" data-type="full"></div>

                    <!-- SKILLS -->
                    <div class="bar-chart"><div class="bar-chart-progress" style="width: {{ adaptibility }}%"></div><span>Adaptibility</span></div>
                    <div class="bar-chart"><div class="bar-chart-progress" style="width: {{ attitude }}%"></div><span>Attitude</span></div>
                    <div class="bar-chart"><div class="bar-chart-progress" style="width: {{ teamwork }}%"></div><span>Teamwork</span></div>
                    <div class="bar-chart"><div class="bar-chart-progress" style="width: {{ reactivity }}%"></div><span>Reactivity</span></div>
                    <div class="bar-chart"><div class="bar-chart-progress" style="width: {{ social }}%"></div><span>Social</span></div>
                    
                    <div class="notes-nav {% block nav_questions_active %}{% endblock nav_questions_active %} bottom">
                        <div class="right">
                        <a data-pjax href="{% url "notes-questions" pk=pk %}"><span>View </span><b>Questions</b></a>
                        <div class="active-nav-marker"></div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>


        <div id="notes-viewbox-container">
        <div id="notes-viewbox">
            
        </div>
        </div>


    </div>

{% endblock content %}
