.slimScrollBar {
  border-radius: initial !important;
  opacity: 1 !important;
  background: @color6 !important;
  width: 1% !important;
  height: 50px !important;
}
.slimScrollRail {
  border-radius: initial !important;
  opacity: 1 !important;
  background: @color11 !important;
  width: 1% !important;
}