{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% include "socialaccount/snippets/login_extra.html" %}
<!--<div class="inset">-->
<!--<div class="header">Sign in</div>-->
<!--<form class="login" method="POST" action="{% url 'account_login' %}">-->
<!--{% csrf_token %}-->
<!--{{ form.non_field_errors }}-->
<!--<input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text"/>{{ form.login.errors }}<br>-->
<!--<input id="id_password" class="login-input" name="password" placeholder="Password" type="password"/>{{ form.password.errors }}<br>-->

<!--<div class="remember-forgot-section">-->
<!--<input id="id_remember" name="remember" type="checkbox"/>-->
<!--<label for="id_remember">Remember Me</label>-->
<!--<a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--</div>-->
<!--{% if redirect_field_value %}-->
<!--<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>-->
<!--{% endif %}-->

<!--<button class="btn" type="submit">{% trans "Sign In" %}</button>-->
<!--</form>-->

<!--<div class="footnote">-->
<!--Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a>-->
<!--</div>-->
<!--</div>-->

<div class="row login-container animated fadeInUp block_login">
  <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 tiles white no-padding">
    <div class="row ">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
            <h3>Login <span class="semi-bold">Here</span></h3>

            <p>Enter your username and password to login</p>
          </div>
          <form id="login-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="input-with-icon  right">
                <i class=""></i>
                <input id="id_login" class="form-control login-input" name="login" placeholder="Username"
                       type="text"/>{{form.login.errors }}
                <!--<input type="text" name="txtusername" id="txtusername" class="form-control"-->
                <!--placeholder="username">-->
              </div>
            </div>
            <div class="form-group m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="input-with-icon  right">
                <i class=""></i>
                <input id="id_password" class="login-input form-control" name="password" placeholder="Password"
                       type="password"/>{{form.password.errors}}
                <!--<input type="password" name="txtpassword" id="txtpassword" class="form-control" placeholder="yor pwd">-->
              </div>
            </div>
            <div class="form-group m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="checkbox checkbox check-primary">
                <input type="checkbox" id="id_remember" name="remember" value="1">
                <label for="id_remember">Remember me</label>
                <a href="{% url 'account_reset_password' %}">Forgot password?</a>&nbsp;&nbsp;
              </div>
              <button type="submit" class="btn btn-primary btn-cons">{% trans "Sign In" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tiles grey p-t-20 p-b-20 text-black">
      <div class="row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-8 col-xs-7">
          <p class="">Don't have an account?
            <a href="{% url 'account_signup' %}" id="register_toggle">Create Account</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}