{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% include "socialaccount/snippets/login_extra.html" %}

<div class="row login-container animated fadeInUp block_register">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 tiles white no-padding">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="col-md-12">
          <h3 class="m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">Register <span class="semi-bold">Here</span></h3>

          <form id="signup_form signup" class="animated fadeIn" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="col-md-6 col-sm-6">
                <!--{{ form.username }} {{ form.username.errors }}-->
                <input id="id_username" class="form-control"  name="username" type="text" placeholder="Username"> {{ form.username.errors }}
              </div>
              <div class="col-md-6 col-sm-6">
                <input id="id_email" class="form-control"  name="email" type="email" placeholder="email@address.com"> {{ form.email.errors }}
              </div>
            </div>

            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="col-md-6 col-sm-6">
                <!--{{ form.username }} {{ form.username.errors }}-->
                <input id="id_password1" class="form-control"  name="password1" type="password" placeholder="password"> {{ form.password1.errors }}
              </div>
              <div class="col-md-6 col-sm-6">
                <input id="id_password2" class="form-control"  name="password2" type="password" placeholder="repeat password"> {{ form.password2.errors }}
              </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="row row-fluid form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox checkbox check-primary">
                  <input type="checkbox" id="checkbox1" value="1">
                  <label for="checkbox1">Agree with <a href="#">terms and conditions</a></label>
                </div>

              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-info btn-cons pull-right"> Create an account
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tiles grey p-t-20 p-b-20 text-black">
      <div class="row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-7">

          <p class="">Already have an account?
            <a href="{{ login_url }}" id="login_toggle">Login In</a>
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5">
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="inset">-->
  <!--<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">-->
    <!--{% csrf_token %}-->
    <!--{{ form.non_field_errors }}-->
    <!--{{ form.username }} {{ form.username.errors }}-->
    <!--<br>-->
    <!--{{ form.password1 }} {{ form.password1.errors }}-->
    <!--<br>-->
    <!--{{ form.password2 }} {{ form.password2.errors }}-->
    <!--<br>-->
    <!--<input id="id_email" name="email" type="email" placeholder="email@address.com"> {{ form.email.errors }}-->
    <!--<br><br>-->
    <!--{% if redirect_field_value %}-->
    <!--<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>-->
    <!--{% endif %}-->
    <!--<button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>-->
  <!--</form>-->
  <!--<div class="footnote">-->
    <!--Already have an account? <a href="{{ login_url }}">Sign in</a>-->
  <!--</div>-->
<!--</div>-->
{% endblock content %}