<div class="col-md-3" id="current-datetime-container">
  <div id="current-datetime">
    <div class="interview-date">
      <span class="date-day"><%= day %></span>
      <span class="date-separator">/</span>
      <span class="date-month"><%= month %> </span>
      <span class="date-separator">/</span>
      <span class="date-year"><%= year %></span>
    </div>
    <div class="interview-time">
      <span class="date-day"><%= hour %></span>
      <span class="date-separator">:</span>
      <span class="date-minute"><%= minute %> </span>

      <div id="am-pm">
        <span class="<%= am_active %>">AM</span>
        <span class="<%= pm_active %>">PM</span>
      </div>
    </div>
  </div>
</div>