.uploaded-file-link {
    margin-left: 50px;
    font-style: italic;
}

.create-interview{

  .form-group {
    margin-right : 0;
    margin-left : 0;
    margin-bottom: 15px;
  }

  .fileupload-container {

    position : relative;

    .fileupload {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      height: 34px;
      width : 154px;
    }


    .file-upload-progress {
      margin-bottom: 10px;
      margin-top: 10px;
    }

  }
}

.create-job-position {

  .form-group {
    margin-left : 0;
    margin-right: 0;
  }

  .fileinput-button {
    position: relative;

    .fileupload {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      height: 34px;
      width : 140px;
    }
  }

  .file-upload-progress {
    margin-top: 10px;
  }

  hr {
    margin-top:0;
  }
}
